@font-face {
    font-family: 'pqp';
    src: url('../fonts/OPTIMA.TTF') format('opentype');
}

.containerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: pqp;
    font-weight: bold;
    letter-spacing: 5%;
    zoom: 1;


    & button {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    & button:hover {
        z-index: 1;
    }
}

#Vetor2 {
    position: relative;
    width: 45%;
    height: auto;
    top: -15vh;
    left: 18vw;
}

.git {
    position: absolute;
    font-size: 1.70vw;
    display: flex;
    gap: 18vw;
    top: 31vh;
    right: 8vw;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.git a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

#Vetor {
    position: absolute;
    width: 102%;
    height: auto;
    right: -4px;
    top: 1px;
    opacity: 0;
    z-index: -1;
}

#LBack {
    width: 90%;
    height: auto;
    left: 10%;
    position: absolute;
}

#Img {
    width: 90%;
    height: auto;
    left: 10vw;
    position: absolute;
    opacity: 0%;
}

#home {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    outline: none;
}

#home:hover {
    transform: scale(1.2);
}

#home img {
    width: 6vw;
    height: auto;
    filter: invert(1);
}

#LinksBack {
    width: 20vw;
    height: auto;
    position: absolute;
    object-fit: contain;
    top: 2vh;
    right: 45%;
    outline: none;
    filter: invert(1);
}

/* Tablet */
@media (max-width: 1024px) {
    .git {
        gap: 12vw;
        right: 5vw;
        font-size: 2vw;
    }

    #LinksBack {
        width: 25vw;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .git {
        flex-direction: column;
        gap: 2vh;
        top: 15vh;
        right: 5vw;
        font-size: 4vw;
    }

    #LinksBack {
        width: 40vw;
    }

    #home img {
        width: 10vw;
    }
}