@font-face {
    font-family: 'pqp';
    src: url('../fonts/OPTIMA.TTF') format('opentype');
}

.containerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: cornflowerblue;
    font-family: pqp;
    font-weight: bold;
    letter-spacing: 5%;

    & button {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    & button:hover {
        z-index: 1;
    }
}

#Vetor2 {
    position: relative;
    width: 45%;
    height: auto;
    top: -160px;
    left: 350px;
}

.git {
    position: absolute;
    font-size: 1.75rem;
    display: flex;
    gap: 16rem;
    top: 19rem;
    right: 10rem;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

#Vetor {
    position: absolute;
    width: 102%;
    height: auto;
    right: -4px;
    top: 1px;
    opacity: 0;
    z-index: -1;
}

#LBack {
    width: 90%;
    height: auto;
    left: 10%;
    position: absolute;
}

#Img {
    width: 90%;
    height: auto;
    left: 200px;
    position: absolute;
    opacity: 0%;
}

#home {
    position: absolute;
    bottom: 20px;
    right: 40px;
    outline: none;
}

#home:hover {
    transform: scale(1.2);
}

#home img {
    width: 6rem;
    height: auto;
    filter: invert(1);
}

#LinksBack {
    width: 31rem;
    height: auto;
    position: absolute;
    object-fit: contain;
    top: 20px;
    right: 45%;
    outline: none;
    filter: invert(1);
}

/* Tablet */
@media (max-width: 1024px) {
    .git {
        gap: 150px;
        right: 80px;
        font-size: 22px;
    }

    #LinksBack {
        width: 350px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .git {
        flex-direction: column;
        gap: 10px;
        top: 15%;
        right: 5%;
        font-size: 16px;
    }

    #LinksBack {
        width: 250px;
    }

    #home img {
        width: 60px;
    }
}