.containerContact {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    & button:hover {
        transform: scale(1.2);
    }
}

#contactB {
    position: absolute;
    width: 26vw;
    height: auto;
    top: 8vh;
    right: 30%;
    filter: invert(1);
}

#send {
    position: absolute;
    bottom: 30vh;
    left: 60%;
}

#send img {
    rotate: -8deg;
    width: 16vw;
    height: auto;
}

#home {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    outline: none;
}

#home:hover {
    filter: invert(1);
}

#home img {
    width: 6vw;
    height: auto;
    filter: invert(1);
}