.containerContact {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;

    & button{
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    & button:hover{
        transform: scale(1.2);
    }
}


#contactB {
    position: absolute;
    width: 500px;
    height: auto;
    top: 80px;
    right: 30%;
    filter: invert(1);
}


#send {
    position: absolute;
    bottom: 320px;
    left: 60%;

}

#send img {
    rotate: -8deg;
    width: 300px;
    height: auto;
}

#home {
    position: absolute;
    bottom: 20px;
    right: 40px;
    outline: none;
}

#home:hover {
    filter: invert(1);
}

#home img{
    width: 100px;
    height: auto;
    filter: invert(1);

}