.containerContact {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    & button:hover {
        transform: scale(1.2);
    }
}

#contactBack {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

#contactB {
    position: absolute;
    width: clamp(500px, 20%, 300px);
    height: auto;
    top: 14%;
    right: 30%;
    filter: invert(1);
    z-index: 1;
}

#send {
    position: absolute;
    bottom: 35%;
    left: 53%;
    z-index: 1;
}

#send img {
    rotate: -7deg;
    width: clamp(210px, 12%, 200px);
    height: auto;
}

#home {
    position: absolute;
    bottom: 2%;
    right: 2%;
    outline: none;
    z-index: 2;
}

#home:hover {
    filter: invert(1);
}

#home img {
    width: clamp(40px, 5%, 80px);
    height: auto;
    filter: invert(1);
}