.home {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Animation.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 18vw;
    width: 100%;
    height: 100%;
    transform: scale(0.7);

    & button {
        transition: all 0.3s ease;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    & button:hover {
        z-index: 1;
        filter: invert(1);
        transform: scale(1.15);
    }
}

#about {
    margin-bottom: -7%;
}

#work {
    margin-bottom: -1%;
    margin-left: -15%;
}

#links {
    margin-top: -2%;
}

#contact {
    margin-left: -12%;
    margin-top: -3%;
}