.home {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/Animation.gif");
    background-size: cover;
    background-position: center;


}

.container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    margin-right: 250px;
    transform: scale(0.7);

    & button{
        transition: all 0.3s ease;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    & button:hover{
        z-index: 1;
        filter: invert(1);
        transform: scale(1.15);
    }
}


#about {
    margin-bottom: -115px;
}

#work {
    margin-bottom: -20px;
    margin-left: -250px;
}

#links {
    margin-top: -25px;
}

#contact {
    margin-left: -210px;
    margin-top: -50px;
}