.containerAbout {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    & button:hover {
        transform: scale(1.2);
    }
}

#background {
    width: 90%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#aboutA {
    width: clamp(300px, 16%, 200px);
    height: auto;
    position: absolute;
    margin-top: -40%;
    margin-right: -2%;
    z-index: 1;
    filter: invert(1);
}

#home {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 2;
    outline: none;
}

#home img {
    width: clamp(40px, 5%, 80px);
    height: auto;
    filter: invert(1);
}