.containerAbout {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    zoom: 1;


    & button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    & button:hover {
        transform: scale(1.2);
    }
}

#home {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    outline: none;
}

#home img {
    width: 6vw;
    height: auto;
    filter: invert(1);
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    top: 0;
    left: -6vw;
    z-index: 0;
}

#aboutA {
    width: 16vw;
    height: auto;
    position: absolute;
    object-fit: contain;
    top: -1vh;
    right: 43vw;
    outline: none;
    filter: invert(1);
}