.containerAbout {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;

    & button{
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }

    & button:hover{
        transform: scale(1.2);
    }
}

#home {
    position: absolute;
    bottom: 20px;
    right: 40px;
    outline: none;
}

#home img{
    width: 100px;
    height: auto;
    filter: invert(1);

}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    top: 0;
    left: -115px;
    z-index: 0;
}

#aboutA {
    width: 300px;
    height: auto;
    position: absolute;
    object-fit: contain;
    top: -10px;
    right: 820px;
    outline: none;
    filter: invert(1);
}
